.container{
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;

}

.form{
  border: 2px solid black;
  padding: 20px;
  margin-top: 5px;
  flex-direction: column;
  margin-right: 5px;
}

.del{
    background-color: red;
    border: none;
    border-radius: 7px;
}